h3{
    font-size: 10vh;
    font-family: 'DELIRIUM';
}
input{
    font-family: 'Courier New', Courier, monospace;
    font-size: 2vh;
}
label{
    font-size: 2vh;
    
    font-family: 'Courier New', Courier, monospace;
}
.row{
    text-align: right;
    max-width: 90%;
    position: relative;
    right:0;

}
.btn {
    font-size: 6vh;
}
