<div id="footer" class=" black-color footer-icons justify-content-center text-center bg-black">

    <a href="{{urls.spotify}}" matTooltip="Listen on Spotify" target="_blank" matTooltipPosition="right">

      <i class="fa fa-spotify "></i>
    </a>
    <a href="{{urls.itunes}}" target="_blank" matTooltip="Listen on iTunes" matTooltipPosition="right">

      <i class="fa-brands fa-itunes">

      </i>
    </a>
    <a href="{{urls.apple}}" target="_blank" matTooltip="Listen on Apple Music" matTooltipPosition="right">

    <i class="fa-brands fa-apple"></i>
    </a>
    <a href="{{urls.instagram}}" target="_blank" matTooltip="Follow on Instagram" matTooltipPosition="right">

      <i class="fa fa-instagram" aria-hidden="true"></i>
    </a>
    <a href="{{urls.youtube}}" target="_blank" matTooltip="Listen on YouTube" matTooltipPosition="right">

      <i class="fa fa-youtube-play" aria-hidden="true"></i>
    </a>
    <a href="{{urls.soundcloud}}" target="_blank" matTooltip="Listen on SoundCloud" matTooltipPosition="right">

      <i class="fa-brands fa-soundcloud"></i>
    </a>
    <a href="{{urls.deezer}}" target="_blank" matTooltip="Listen on Deezer" matTooltipPosition="right">

      <i class="fa-brands fa-deezer"></i>
    </a>

</div>
