@import '../../../assets/meta/Fonts/stylesheet.css';


nav {
  //  background-color: black;
  position: relative;
  align-items: center;
  text-align: center;
  justify-content: center;
  
  .nav-item {
    margin: 1rem;
    border: #913597 5px solid;
    border-radius:3rem;
  }
  .nav-item.active a{
    color:#913597;
  }
  li {
    a {
      color: #913597;
  font-size: 3rem;
  padding:1rem;
  font-display: auto;    
    font-family:'DELIRIUM_NEON', Courier, monospace !important;
    }
    :hover{
      color: white;
    }
  }
  .navbar-form.navbar-center {
    float: none;
    text-align: center;
  }
  i{

     color: #913597;
  }


}

a.navbar-brand {
font-size: 1rem;
    font-family:'DELIRIUM', Courier, monospace !important;

    text-decoration: none;

    // color:#913597;

}

.btn.btn-themed{
font-size: 2rem;
    font-family:'DELIRIUM', Courier, monospace;
  background-color: #913597 !important;
  color: white
}



@media (max-width:1000px){
nav{
  .nav-item {
    margin: 1rem;
    // max-width: 50%;
  }
  font-size: 1rem;
}
}
