<div class="container">


  <h1 class="">Listen</h1>

  <div class="albums text-left" *ngIf="albums&&albums.length>0">


    <div class="card" *ngFor="let album of albums">

      <h2>

        {{album.title}} -
        {{album.type}}
      </h2>

      <iframe *ngIf="album.title!=''" width="100%" height="300" scrolling="yes" frameborder="no" allow="autoplay"
        [src]="sanitize(album.iframe)"></iframe>

      <!-- <iframe width="100%" height="300" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/1190445877&color=%239ed8f4&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe><div style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;"><a href="https://soundcloud.com/user-191606160" title="Jimmy Li" target="_blank" style="color: #cccccc; text-decoration: none;">Jimmy Li</a> · <a href="https://soundcloud.com/user-191606160/jimmy-li-forget" title="Forget" target="_blank" style="color: #cccccc; text-decoration: none;">Forget</a></div> -->
      <div class="card-body">
        <mat-expansion-panel hideToggle *ngIf="album.credits&&album.credits.length>0">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <h3>
                Credits
              </h3>
            </mat-panel-title>

          </mat-expansion-panel-header>
          <!-- <p>{{item.text}}</p> -->
          <div class="row" *ngFor="let credit of album.credits">
            <div class="col-md-5 text-right">
              <h4>
                {{credit.role}}
              </h4>
            </div>
            <div class="col-md-7 text-left">
              <h4>
                {{credit.name}}
              </h4>
            </div>
          </div>
        </mat-expansion-panel>


      </div>

      <hr class="horizontal">

    </div>










  </div>

</div>
