
<!-- <a class="navbar-brand" routerLink="#"> Jimmy Li</a> -->

<div class="navbar-left mx-auto">

    <ul class="navbar-custom mx-auto">
        <!-- <li class="nav-item ">
            <a class="nav-link " routerLink="#">About <span class="sr-only">(current)</span></a>
        </li> -->
        <li class=" ">
            <a class="nav-link " href="#events" matTooltip="Upcoming Gigs" matTooltipPosition="right"> <i class="fa fa-calendar"></i> <span class="sr-only">(current)</span></a>
        </li>
        <li class="">
            <a class="nav-link " target="_blank" matTooltip="Listen" matTooltipPosition="right" href="https://distrokid.com/hyperfollow/jimmyli/to-the-front"> <i class="fa fa-music"></i></a>
        </li>
        <li class=" ">
            <a class="nav-link " target="_blank" matTooltip="Merch" matTooltipPosition="right" href="https://jimmyli.bandcamp.com/merch"> <i class="fa fa-shirt"></i>
                <span class="sr-only">(current)</span></a>
            </li>
        </ul>
    
</div>
