.navbar-left {
  position: fixed;
  left: 0;
  bottom: 1rem;
  align-items: center;
  text-align: center;
  justify-content: center;
  z-index: 999999999;
  .navbar-custom{

    list-style: none;
  }

  .nav-item {
    margin: 4vh;
    min-height: 10vh;
    border-radius: 3rem;
    :hover {
      color: white;
    }
  }
  .nav-item.active a {
    color: wheat;
  }
  li {
    a {
      color: #913597;
      font-size: 5vh;
      padding: 2vh;
      font-display: auto;
      font-family: "DELIRIUM_NEON", Courier, monospace !important;
      :hover {
      color: white;
    }
    }
  }
  .navbar-form.navbar-center {
    float: none;
    text-align: center;
  }
  i {
    color: #913597;
  }
}

@media (max-width: 850px) {
  
    .navbar-left {
      width:100%;
      position: relative;
      // left: 0;
      top: 17%;
      bottom:auto;
      z-index: 99999999;
      ul.navbar-custom{
        display: inline-flex;
        padding-left: 0;
        a {
          color: #913597;
          font-size: 4vh;
          padding: 4vh;
          font-display: auto;
          font-family: "DELIRIUM_NEON", Courier, monospace !important;
          :hover{
            color:white;
          }
        }
      }
     
    
  }
}
