<!-- <h1 class="">About</h1> -->

<div class="news">
  <iframe 
  width="100%" 
  height="600" 
  src="https://www.youtube.com/embed/8a3KXn7aRWU?autoplay=1&mute=1&controls=0&modestbranding=1&rel=0&showinfo=0"
  
  frameborder="0"
  allow="autoplay; encrypted-media; picture-in-picture"
  allowfullscreen>
</iframe>

  <!-- <ngb-carousel >
    <ng-template ngbSlide *ngFor="let photo of photos ">
      <div class="picsum-img-wrapper ">
        <img class="first-image" [src]="isPhoneScreen?photo.mobUrl:photo.url" alt="Welcome to my Jam" />
      </div>
      <div class="carousel-caption">
        <h2>{{photo.title}}</h2>
        <p>{{photo.text}}</p>
        <a *ngIf="photo.btnText.length>1" class="btn btn-themed" target="_blank" href="{{photo.btnURL}}">
          {{photo.btnText}}
        </a>
      </div>
    </ng-template>
    <!-- <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img [src]="images[1]" alt="Random second slide" />
      </div>
      <div class="carousel-caption">
        <h2>{{captions[2]}}</h2>
        <p>{{captions[3]}}</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img [src]="images[2]" alt="Random second slide" />
      </div>
      <div class="carousel-caption bg-black-full">
        <h2>{{captions[4]}}</h2>
        <p>{{captions[5]}}</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img [src]="images[3]" alt="Random second slide" />
      </div>
      <div class="carousel-caption bg-black-full">
        <h1>{{captions[6]}}</h1>
        <p>{{captions[3]}}</p>
      </div>
    </ng-template>   </ngb-carousel>
   -->

  <app-events></app-events>
  <ng-template #NoNews> No News </ng-template>
</div>
