<div class="bg-image">

  <div class=" bg-container">
    <div class=" ">
      <div class="text-center bg-black main-container ">
        <div class="text-center">
          <a class="brand-image"  routerLink="#">

            <img class="brand-image" id="logoImg" src="https://i.imgur.com/Hajhzl0.png">

          </a>
        </div>
        <app-navbar-left></app-navbar-left>
        <app-footer-right></app-footer-right>
        <app-placeholder></app-placeholder>
      </div>

    </div>
  </div>

</div>
