<div class="bg-image">

  <div class="container-fluid bg-container">
    <div class="container-fluid  ">
      <div class="text-center bg-black main-container ">
        <div class="text-center">
          <a class="brand-image" routerLink="#">

            <img class="brand-image" src="https://i.imgur.com/4k37WEc.png">

          </a>
        </div>
        <app-navbar></app-navbar>
        <app-placeholder></app-placeholder>
        <app-footer></app-footer>
      </div>

    </div>
  </div>

</div>
