@import url(../styleLibrary.scss);


a {
  font-family:'DELIRIUM_NEON', Courier, monospace;
}


.bg-image {
  // background-image: url("../assets/meta/viber_image_2022-01-12_11-52-19-955.png");
  // background: linear-gradient(rgba(145, 53, 151, 0.4), #1a1b20),
  //   url("https://i.imgur.com/ekGsg7Z.jpg"); /* Chrome 10-25, Safari 5.1-6 */
//    url("https://i.imgur.com/0jR4K3J.png"); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
background: linear-gradient(rgba(203, 173, 49, 0.6), #1a1b20),
    url("https://i.imgur.com/wfrU1Eb.jpeg"); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  width: auto;
  height: 120%;
  background-repeat: no-repeat;
  background-color: #1a1b20;
  // background-position: cover;
  background-size: cover;
  max-width: 100%;
  // max-height: auto;
  overflow-y: auto;
  overflow-x:unset;
  
}

.brand-image {
  // background-image: url("../../../assets/meta/jimmy_li_logo.png");
  margin-top: 2rem;

  max-height: 5rem;
  max-width: 5rem;
  background-repeat: no-repeat;
  // background-color: #1a1b20;
  background-position: center;
  border-radius: 50%;
}
::-webkit-scrollbar {
    display: none;
}




// #logoImg{
//   // background-image: url("https://imgur.com/a/06EsdR9");
// }

.bg-black {
  opacity: 0.7;
  background: #1a1b20;
  // background: linear-gradient(0deg, rgba(26,27,32,0.1) 0%, rgba(26,27,32,0.1) 100%);
}


// .main-container{
//   // min-width: 400px;
// }

