<hr>

<div id="events" >
    
    <h3 class="p-2 ">Events</h3>
    <div *ngIf="gigs.length>0; else NoGigs">
        <div class="row" *ngFor="let gig of gigs" >
            <div class="col-md-3"> 
                <p>

                    {{gig.date}}
                </p>
            </div>
            <div class="col-md-3"> 
            <p>

                {{gig.city}}
            </p>
            
            </div>
            <div class="col-md-3"> 
                <p>

                    {{gig.venue}}
                </p>
                <br>
                <p>

                    w/
                    
                     {{gig.openningBand}}
                </p>
            </div>
            <div class="col-md-3">
                <a href='{{gig.bookUrl}}' class="btn btn-themed">Book</a>
            </div>
        
        </div>
    
    </div>
</div>


<ng-template #NoGigs>
    <div class="p-5">

         <h5>
            No upcoming events
         </h5>
    </div>
</ng-template>