


#events{

.row{
  padding: 1rem;
  // background-color: white;
  border-top: 1px white solid;
  line-height: 100%;
  // vertical-align: middle;
  // justify-content: center;
  .col{
    justify-self:center;
    justify-content: center;
    align-self:center;
    vertical-align: middle;
  }
}

h3{
color: #913597;
  padding: 1rem;
    font-family:'DELIRIUM_NEON', Courier, monospace;
    font-size: 13vh;
}
    margin-top:5rem;
    vertical-align: middle;
    align-content: center-;
}
h5{
    font-family:'DELIRIUM', Courier, monospace;
    font-size: 8vh;
    color:white;
}

p{
  
    font-family:'Courier', monospace;
  font-size: 5vh;
}
span{
  font-family:'Courier', monospace;
  font-size: 3vh;
}

