<hr />

<div id="events" class="container">
  <h3 class="p-2">Gigs</h3>
  <div *ngIf="gigs.length > 0; else NoGigs">
    <div class="row" *ngFor="let gig of gigs">
      <div class="col-md-3">
        <p>

          {{ gig.date }} 
          <br>
          {{gig.time}}
        </p>
        
      </div>
      <div class="col-md-5">
        <p>
          <a href="{{ gig.mapUrl }}" target="_blank">
            {{ gig.venue }}
          </a>
        </p>
        <br />
        <p>
          <span *ngIf="gig.openningBand">
            w/

            {{ gig.openningBand }}
          </span>
        </p>
      </div>
      <div class="col-md-2">
        <p>
          {{ gig.city }}
        </p>
      </div>
      <div class="col-md-2">
        <a *ngIf="gig.bookUrl" href="{{ gig.bookUrl }}" class="btn btn-themed" matTooltip="Tickets Here" matTooltipPosition="above"
          ><i class="fa-solid fa-ticket"></i></a
        >
        <button class="btn btn-themed" (click)="addToCalendarAuto(gig)" matTooltip="Add To Calendar" matTooltipPosition="above"><i class="fa-regular fa-calendar-plus"></i></button>
      </div>
    </div>
  </div>
</div>

<ng-template #NoGigs>
  <div class="p-5">
    <h5>No upcoming gigs scheduled</h5>
  </div>
</ng-template>
