<div id="footer" class=" footer-icons ">

  <a href="{{urls.bandcamp}}" target="_blank" matTooltip="Listen on Bandcamp" matTooltipPosition="left">

    <i class="fa-brands fa-bandcamp"></i>
  </a>
   <a href="{{urls.youtube}}" target="_blank" matTooltip="Listen on YouTube" matTooltipPosition="left">

      <i class="fa fa-youtube-play" aria-hidden="true"></i>
    </a>

    <a href="{{urls.instagram}}" target="_blank" matTooltip="Follow on Instagram" matTooltipPosition="left">

      <i class="fa fa-instagram" aria-hidden="true"></i>
    </a>
   

    <a href="{{urls.deezer}}" target="_blank" matTooltip="Listen on Deezer" matTooltipPosition="left">

      <i class="fa-brands fa-deezer"></i>
    </a>
    <a href="{{urls.apple}}" target="_blank" matTooltip="Listen on Apple Music" matTooltipPosition="left">

      <i class="fa-brands fa-apple"></i>
      </a>
</div>
