a{
  text-align: center;
  justify-content: center;
  :hover{
    color:white;
    // opacity: 0.7;//#913597;
  }
i{
  // border-color:green;
  color: #913597;
  min-height: 4rem;
  align-items: center;
  align-self: center;
  min-width: 100%;
  
}
}


.footer-icons{
    
padding:1rem;
position:fixed;
  right:1rem;
  bottom: 0;
  max-width: 5rem;
  z-index: 90000;
  text-align: center;
  justify-content: center;
  align-items: center;
border-top-left-radius: 0;
border-top-right-radius: 0;
  font-size: 6vh;
background-color: rgba(0,0,0,0.6);
border-radius: 3rem;
 }


@media (max-width:850px){
 .footer-icons{

  // top:70%;
  right:1rem;
  // right:10%;
  // font-size: 3rem;
  max-width: 4rem;
  // max-height: 2rem;
  z-index: 90000;
  position:fixed ;
  text-align: center;
  justify-content: center;
  align-items: center;
  border-radius: 3rem;
  font-size: 5vh;

 }

}