a{
  text-align: center;
  justify-content: center;
  z-index: 9999999999900;
  :hover{
    color:white;
    // opacity: 0.7;//#913597;
  }
i{
  // border-color:green;
  color: #913597;
  min-height: 10vh;
  align-items: center;
  align-self: center;
  min-width: 100%;
  z-index: 999999999990;
}
}


.footer-icons{
    
padding:1rem;
position:fixed;
  right:1rem;
  bottom: 0;
  max-width: 5rem;
  z-index: 99999999999;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 6vh;
// background-color: rgba(0,0,0,0.6);
border-radius: 3rem;
 }


@media (max-width:850px){
 a{
  text-align: center;
  justify-content: center;
  :hover{
    color:white;
    // opacity: 0.7;//#913597;
  }
i{
  // border-color:green;
  color: #913597;
  margin-right: 1rem;
  min-height: 4rem;
  align-items: center;
  align-self: center;
  
}
}
.footer-icons {
  z-index: 90000;
  position:relative ;
  // left:5px;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-left:1rem;
  top:30%;
  font-size: 4vh;
  min-width: 100%;
display: inline-flex;
  // background: #1a1b20;
  border-radius: 4rem;
  padding: 0.5rem;
}

}