/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
@import 'styleLibrary.scss';
@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';
@import '../node_modules/font-awesome/css/font-awesome.min.css';
@import '../src/assets/meta/Fonts/stylesheet.css';


html, body {
  height: 100%;
}
p, h1, h2, h3, h4, h5 {
  font-family:'DELIRIUM', Courier, monospace;
}
p{
  font-size: 10vh ;
}
h1{
  font-size: 16rem;
}
h2{
  font-size: 13rem;
}
h3{
  font-size: 12rem ;
}
h4{
  font-size: 11rem ;
}
.purple-color{
  color:var(--purple-main);
}

.black-color{
  color:var(--black-main);
}

.white-color{
  color:white;
}



.main-container {

  margin-top: 1rem;
    height: 100%;
    width:auto;
    border-collapse: collapse;
    min-height: 30rem;
    min-width: auto;
    border-radius: 1rem;
}

.bg-container{
  min-width:fit-content;
}

#footer {

  vertical-align: bottom;
  align-self:auto;
}


html, body { height: 100%; }
// body { margin: 0; font-family:'ayuga_demoregular'}



@media (max-width:770px){
.bg-image{
  height: 100%;
}
.main-container{
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}
}
.btn.btn-themed{
  // background-color: #913597 !important;
  color:#913597 !important;
  border: 1px solid white;
  font-size: 6vh;
}